<h1>Ejercicio 1</h1>
<app-prueba1 [nombre]="'Luis'"></app-prueba1>
<h1>Ejercicio 2</h1>
<app-ejercicio2></app-ejercicio2>
<h1>Ejercicio 3</h1>
<app-ejercicio3></app-ejercicio3>
<h1>Ejercicio 4</h1>
<app-ejercicio4></app-ejercicio4>
<h1>Ejercicio 5</h1>
<app-ejercicio5></app-ejercicio5>
<app-ejercicio5-parent></app-ejercicio5-parent>
<h1>Ejercicio 6</h1>
<app-ejercicio6
  [nombre]="'Producto A'"
  [descripcion]="'Descripción del Producto A'"
  [precio]="29.99">
</app-ejercicio6>
<h1>Ejercicio 7</h1>
<app-ejercicio7></app-ejercicio7>
